<?xml version="1.0"?>
<!-- Copyright (c) 2008-2017 New Relic, Inc.  All rights reserved. -->
<!-- For more information see: https://newrelic.com/docs/dotnet/dotnet-agent-configuration -->
<configuration xmlns="urn:newrelic-config" agentEnabled="true">
  <appSettings>
    <!--<add key="InfiniteTracingSpanEventsStreamsCount" value="10"/>-->
    <!--<add key="InfiniteTracingSpanEventsPartitionCount" value="10"/>-->
    <!--<add key="InfiniteTracingTraceObserverSsl" value="False"/>-->
    <!--<add key="InfiniteTracingSpanEventsTestFlaky" value="55"/>-->
  </appSettings>
  <service 
     sendDataOnExit="true" completeTransactionsOnThread="true" sendDataOnExitThreshold="100"   />
  <!--<diagnostics captureAgentTiming="false" />-->
  <application>
    <name>TestAzureWebAppNuGet</name>
  </application>
  <log level="finest"/>
  <spanEvents enabled="true" />
  <transactionTracer enabled="true"
		transactionThreshold="apdex_f"
		stackTraceThreshold="200"
		recordSql="obfuscated"  
		explainEnabled="false"
		explainThreshold="500"/>
  <!--<transactionTracer enabled="false"
   transactionThreshold="apdex_f"
   stackTraceThreshold="500"
   recordSql="obfuscated"
   explainEnabled="false"
   explainThreshold="500"/>-->
  <transactionEvents maximumSamplesPerMinute="30" maximumSamplesStored="30" enabled="true" />
  <!--<transactionEvents maximumSamplesPerMinute="30" maximumSamplesStored="30" enabled="false" />-->
  <crossApplicationTracer enabled="true"/>
  <distributedTracing enabled="true"/>
  <!--<infiniteTracing>
    <trace_observer host="nr-internal.aws-us-east-2.tracing.staging-edge.nr-data.net" port="443"/>
    --><!--<trace_observer host="localhost" port="5001"/>--><!--
    <span_events queue_size="10000"/>
  </infiniteTracing>-->
  <errorCollector enabled="true">
    <ignoreErrors>
      <exception>System.IO.FileNotFoundException</exception>
      <exception>System.Threading.ThreadAbortException</exception>
    </ignoreErrors>
    <ignoreStatusCodes>
      <code>401</code>
      <code>404</code>
    </ignoreStatusCodes>
  </errorCollector>

  <!--<errorCollector enabled="false">
    <ignoreErrors>
      <exception>System.IO.FileNotFoundException</exception>
      <exception>System.Threading.ThreadAbortException</exception>
    </ignoreErrors>
    <ignoreStatusCodes>
      <code>401</code>
      <code>404</code>
    </ignoreStatusCodes>
  </errorCollector>-->

  <browserMonitoring autoInstrument="false" />
  <threadProfiling>
    <ignoreMethod>System.Threading.WaitHandle:InternalWaitOne</ignoreMethod>
    <ignoreMethod>System.Threading.WaitHandle:WaitAny</ignoreMethod>
  </threadProfiling>
</configuration>
